.alert {
  border-radius: 0px !important;
  border: 0px white !important;
  margin-bottom: 0px!important;
}

.footerLight{
    border-top: 1px solid black;
    position: absolute;
    top: 100%;
    left: 0;
}

.footerDark {
    background-color: black;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
  }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0px !important;
}

nav button {
  padding: 0.3rem !important;
}

.marginTopDark {
  margin-top: -1rem;
}

.text-white {
  color: white !important;
}

.card-img-top {
  height: 250px;
}

.bookCard {
  box-shadow: 10px 10px 5px #dedede;
  transition: transform 0.2s;
}

.bookCardBlack {
  box-shadow: 10px 10px 5px black;
  transition: transform 0.2s;
}

.bookCard:hover {
  transform: scale(1.05);
}

.borderRed {
  border: 2px solid red;
}
